<?php

namespace Scraper;

class Config
{
    public function get()
    {
        return [
            'database' => [
                'host'     => 'localhost',
                'username' => 'root',
                'password' => '',
                'dbname'   => 'scraper',
            ],
            'proxy' => [
                'force' => true,
                'API' => 'http://falcon.proxyrotator.com',
            ],
            'storeurl' => 'https://www.amazon.com/s?me=A1MHVA9P45JS92'
        ];
    }
}
